*{box-sizing: border-box}
body{color:#fff;background:#1b1b1b;}

a{text-emphasis: none;color:#fff;text-decoration:none !important}

ul{list-style: none}

.w-90{width:90%;}




.font_size_little{font-size:14px}
.font_size_mediume{font-size:20px}
.font_size_big{font-size:25px}
.font_size_h{font-size:45px}

.font_color{color:#747474}


.float_l{float:left;}
.float_r{float:right;}


/* 鼠标悬浮 */
.img_two{display: none}
.img_hover:hover .img_one{display: none}
.img_hover:hover .img_two{display: inline-block;}


.my_header,.my_footer{ width:100%;}

#top_img img{width:100%;}
