




.bmw_ul{margin:15px 0}
.bmw_ul li a{background:#1b1b1b;padding:0}
.nav-tabs {  border-bottom:0;}

.bmw_ul li{width:100px;height:100px;}

.bmw_table{border-collapse:separate; border-spacing:10px 20px;}
.b_r_border_color{border-color:#f13}
.b_r_text{text-decoration:line-through}



