<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../css/normalize_zh.css">
  <link rel="stylesheet" href="../css/bootstrap.css"/>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/view.css">
  <link rel="stylesheet" href="../css/footer.css">

</head>
<body>
<header>
  <iframe class="my_header" src="../header.html" frameborder="0" scrolling="no"></iframe>
</header>
<div class="container">

  <!-- 大图 -->
    <div id="top_img">
      <img src="../img/view/wKgBS1rNEgmARs9MAABMILWR3c0111.jpg" alt="">
    </div>

  <!-- 相关资讯 -->
    <div>
        <ul class="view_ul nav nav-tabs">
            <li class="nav-item">
                <a class="h4 nav-link active" data-toggle="tab" href="#tab1">相关资讯</a>
            </li>
            <li class="nav-item">
                <a class="h4 nav-link" data-toggle="tab" href="#tab2">学习课程</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="tab1" class="tab-pane active">
              <div class="row m-0">
                <!-- 1 -->
                <div class="col-lg-4 col-sm-6 p-0 pr-lg-3 pr-sm-2">
                  <div class="view_div">
                    <div class="v_d_img w-100">
                      <a href="">
                        <img class="w-100" src="../img/view/wKgBS1rPdRCAGGv6AAHcFbxjqOM418.png" alt="">
                      </a>
                    </div>
                    <p class="mt-3 px-3">
                      <a class="text-muted font_size_mediume" href="">买SUV的5个关键词</a>
                    </p>
                    <p class="px-3 ">现在买SUV的朋友真是越来越多了，这参数真是天花乱坠的几十条，看看也是比较乱。</p>
                    <div class="v_d_div border py-2 w-50 ">
                      <a href="">MORE</a> 
                    </div>
                  </div>
                </div>
                <!-- 2 -->
                <div class="col-lg-4 col-sm-6 p-0 pr-lg-3 pl-sm-2">
                  <div class="view_div">
                    <div class="v_d_img w-100">
                      <a href="">
                        <img class="w-100" src="../img/view/wKgBS1rPdQ2AIlv6AAHdJirDlEw352.png" alt="">
                      </a>
                    </div>
                    <p class="mt-3 px-3">
                      <a class="text-muted font_size_mediume" href="">完整的购车流程</a>
                    </p>
                    <p class="px-3 ">选车是最重要的一个环节，只有选择正确了，才能保证以后的环节正确。</p>
                    <div class="v_d_div border py-2 w-50 ">
                      <a href="">MORE</a> 
                    </div>
                  </div>
                </div>
                <!-- 3 -->
                <div class="col-lg-4 col-sm-6 p-0 pl-lg-3 pr-sm-2">
                  <div class="view_div">
                    <div class="v_d_img w-100">
                      <a href="">
                        <img class="w-100" src="../img/view/wKgBS1rPdQqAL4SKAAGYuxgHiWQ300.png" alt="">
                      </a>
                    </div>
                    <p class="mt-3 px-3">
                      <a class="text-muted font_size_mediume" href="">汽车保险怎么买划算</a>
                    </p>
                    <p class="px-3 ">有些4S店要求在店内上保险作为提车条件，一些新车主出于无奈或不熟悉车险，因此只</p>
                    <div class="v_d_div border py-2 w-50 ">
                      <a href="">MORE</a> 
                    </div>
                  </div>
                </div>
                <!-- 4 -->
                <div class="col-lg-4 col-sm-6 p-0 pr-lg-3 pl-sm-2">
                  <div class="view_div">
                    <div class="v_d_img w-100">
                      <a href="">
                        <img class="w-100" src="../img/view/wKgBS1rPdQaAWG9qAAG1P-zzDoU734.png" alt="">
                      </a>
                    </div>
                    <p class="mt-3 px-3">
                      <a class="text-muted font_size_mediume" href="">买SUV的5个关键词</a>
                    </p>
                    <p class="px-3 ">现在买SUV的朋友真是越来越多了，这参数真是天花乱坠的几十条，看看也是比较乱。</p>
                    <div class="v_d_div border py-2 w-50 ">
                      <a href="">MORE</a> 
                    </div>
                  </div>
                </div>
                <!-- 5 -->
                <div class="col-lg-4 col-sm-6 p-0 pr-lg-3 pr-sm-2">
                  <div class="view_div">
                    <div class="v_d_img w-100">
                      <a href="">
                        <img class="w-100" src="../img/view/wKgBS1rPdQKAIjAbAAGIDYJ8YnY842.png" alt="">
                      </a>
                    </div>
                    <p class="mt-3 px-3">
                      <a class="text-muted font_size_mediume" href="">买SUV的5个关键词</a>
                    </p>
                    <p class="px-3 ">现在买SUV的朋友真是越来越多了，这参数真是天花乱坠的几十条，看看也是比较乱。</p>
                    <div class="v_d_div border py-2 w-50 ">
                      <a href="">MORE</a> 
                    </div>
                  </div>
                </div>
                <!-- 6 -->
                <div class="col-lg-4 col-sm-6 p-0 pr-lg-3 pl-sm-2">
                  <div class="view_div">
                    <div class="v_d_img w-100">
                      <a href="">
                        <img class="w-100" src="../img/view/wKgBS1rPdP-ATPCtAAFgm4TQUfQ172.png" alt="">
                      </a>
                    </div>
                    <p class="mt-3 px-3">
                      <a class="text-muted font_size_mediume" href="">买SUV的5个关键词</a>
                    </p>
                    <p class="px-3 ">现在买SUV的朋友真是越来越多了，这参数真是天花乱坠的几十条，看看也是比较乱。</p>
                    <div class="v_d_div border py-2 w-50 ">
                      <a href="">MORE</a> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="tab2" class="tab-pane">
                <div class="row m-0">
                  <!-- 1 -->
                  <div class="col-lg-4 col-sm-6 p-0 pr-lg-3 pl-sm-2">
                    <div class="view_div">
                      <div class="v_d_img w-100">
                        <a href="">
                          <img class="w-100" src="../img/view/wKgBS1rPdRCAGGv6AAHcFbxjqOM418.png" alt="">
                        </a>
                      </div>
                      <p class="mt-3 px-3">
                        <a class="text-muted font_size_mediume" href="">买SUV的5个关键词</a>
                      </p>
                      <p class="px-3 ">现在买SUV的朋友真是越来越多了，这参数真是天花乱坠的几十条，看看也是比较乱。</p>
                      <div class="v_d_div border py-2 w-50 ">
                        <a href="">MORE</a> 
                      </div>
                    </div>
                  </div>
                  <!-- 2 -->
                  <div class="col-lg-4 col-sm-6 p-0 pr-lg-3 pl-sm-2">
                    <div class="view_div">
                      <div class="v_d_img w-100">
                        <a href="">
                          <img class="w-100" src="../img/view/wKgBS1rPdQ2AIlv6AAHdJirDlEw352.png" alt="">
                        </a>
                      </div>
                      <p class="mt-3 px-3">
                        <a class="text-muted font_size_mediume" href="">买SUV的5个关键词</a>
                      </p>
                      <p class="px-3 ">现在买SUV的朋友真是越来越多了，这参数真是天花乱坠的几十条，看看也是比较乱。</p>
                      <div class="v_d_div border py-2 w-50 ">
                        <a href="">MORE</a> 
                      </div>
                    </div>
                  </div>
                  <!-- 3 -->
                  <div class="col-lg-4 col-sm-6 p-0 pr-lg-3 pl-sm-2">
                    <div class="view_div">
                      <div class="v_d_img w-100">
                        <a href="">
                          <img class="w-100" src="../img/view/wKgBS1rPdQKAIjAbAAGIDYJ8YnY842.png" alt="">
                        </a>
                      </div>
                      <p class="mt-3 px-3">
                        <a class="text-muted font_size_mediume" href="">买SUV的5个关键词</a>
                      </p>
                      <p class="px-3 ">现在买SUV的朋友真是越来越多了，这参数真是天花乱坠的几十条，看看也是比较乱。</p>
                      <div class="v_d_div border py-2 w-50 ">
                        <a href="">MORE</a> 
                      </div>
                    </div>
                  </div>


                </div>
            </div>
        </div>
    </div>









</div>
<footer>
  <iframe class="my_footer" src="../footer.html" frameborder="0" scrolling="no"></iframe>
</footer>
</body>
</html>